@{
    ViewData["Title"] = "CollegeConnect";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>CollegeConnect lets you connect with your college mates and lets you give or take a ride. So register and enjoy the travel!</p>

        <a asp-controller="Student" asp-action="Index">Post Ride</a><br/>
        <a asp-controller="Student" asp-action="Search">Find Ride</a>
    </div>
