
@{
    ViewData["Title"] = "Sucess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sucess</h1>
<p><h4>Congrats! Ride Posted!</h4></p>
<p><h4> <a asp-controller="Home" asp-action="Index">Back to Home</a></h4></p>

